@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* feedback */
/* .main form,
  .main .details {
    width: 600px;
    border: 1px solid #ddd;
    margin: 15px;
    padding: 15px;
  }
  
  .main .details > div {
    margin: 15px;
    font-weight: 200;
  }
  
  .main .details > h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  } */
  body{
    background-color:#fff;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
  }
  
  input,
  button {
    padding: 10px;
    margin: 5px;
  }
  
  h3 {
    margin: 5px;
    padding: 15px 15px 0px 15px;
    font-weight: 300;
    margin: 0;
    color: #111111;
    font-weight: 600;
  }
  p{
    font-size: 14px;
    color: #585858;
    line-height: 1.6;
  }
  label{
    color:black
  }
  
  .errorMsg {
    padding: 5px;
    margin: 0px;
    font-size: 11px;
    color: red;
  }
  .contact-form input, .contact-form textarea {
    width: 100%;
    height: 44px;
    border: none;
    padding: 0 18px;
    background: #f0f0f0;
    border-radius: 40px;
    margin-bottom: 17px;
    font-size: 14px;
}
.site-btn {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  min-width: 167px;
  padding: 18px 47px 14px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #f51167;
  color: #fff;
  line-height: normal;
  cursor: pointer;
  text-align: center;
}

.map {
  width: 100%;
  height: 100%;
}
.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.contact-social {
  display: flex;
  margin-bottom: 85px;
  padding-top: 20px;
}
.contact-social a {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background: #f0f0f0;
  color: #414141;
  font-size: 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  transition: all 0.4s;
}
.contact-social a:hover{
  background-color: #f51167;
}
.contact-info{
  font-family: 'Josefin Sans', sans-serif;
  color:#111111;
}
.contact-info h3 {
  margin-bottom: 50px;
  color: #111111;
}
.contact-info p {
  margin-bottom: 50px;
  color: #111111;
  font-weight: 600;
}
.product-item .pi-pic {
  position: relative;
  display: block;
}
.product-item .tag-new, .product-item .tag-sale {
  position: absolute;
  right: 16px;
  top: 14px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  background: #50e550;
  line-height: 1;
  text-transform: uppercase;
  padding: 5px 9px 1px;
  border-radius: 15px;
  width: 42px;
}
.product-item .pi-links {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 18px;
  z-index: 9;
  padding-right: 15px;
  text-align: right;
}
.product-item .pi-links a.add-card {
  padding-top: 8px;
}
.product-item .pi-links a {
  display: inline-table;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 60px;
  font-size: 18px;
  line-height: 18px;
  padding-top: 9px;
  overflow: hidden;
  color: #000;
  position: relative;
  -webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
}
.product-item .pi-links a i {
  display: inline-block;
  color: #000;
}
.product-item img{
  max-width: 100%;
}
.product-item .pi-text {
  padding-top: 22px;
  height: 87px;
}
.product-item .pi-text h6 {
  float: right;
  padding-left: 40px;
  overflow: hidden;
  font-weight: 700;
  color: #111111;
  font-size: 16px;
}
.product-item .pi-text p {
  font-size: 16px;
  color: #111111;
  margin-bottom: 0;
}
.bg-image{
  background-image:url('/public/img/1.jpg');
}
.pi-pic1 img{
  max-width: 56%;
}
.panel-body {
  padding-top: 10px;
}
.panel-body p {
  color: #8f8f8f;
  margin-bottom: 25px;
  line-height: 1.8;
}
.panel-body img {
  margin-bottom: 25px;
}
.panel-body h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.panel-body p span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f51167;
}
.social-sharing {
  padding-top: 50px;
}
.social-sharing a {
  color: #d7d7d7;
  margin-right: 23px;
  font-size: 14px;
}
.aZfaH{
  margin-bottom: 14px;
  width: 100%;
  min-height: 57px;
  padding: 23px 47px 14px;
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  min-width: 167px;
  padding: 5px 3px 5px 3px;
  border-radius: 50px;
  text-transform: uppercase;
  background: black;
  color: #fff;
  line-height: normal;
  cursor: pointer;
  text-align: center;
}
.main-menu {
  list-style: none;
}
.main-menu li {
  display: inline-block;
  position: relative;
}
.main-menu li a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  margin-right: 50px;
  line-height: 1;
  padding: 17px 0;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
.section-title h2 {
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
}
.spad{
  padding-top: 105px;
  padding-bottom: 70px;
}
.filter-widget {
  margin-bottom: 100px;
}
.fw-title {
  font-size: 18px;
  font-weight: 700;
  color: #414141;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.category-menu {
  list-style: none;
}
.category-menu li{
  display: block;
  position: relative;
  font-size: 12px;
  color: #414141;
  border-bottom: 1px solid #ebebeb;
  padding: 12px 0 5px 20px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 
.content {
  padding: 20px;
}
 
.header {
  padding: 10px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}
.header a {
  color: #0072ff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #8a0f53;
}
.header small {
  color: #666;
}
.header .active {
  color: #2c7613;
} 
.login-form input{
  width: 100%;
    height: 44px;
    border: none;
    padding: 0 18px;
    border-radius: 40px;
    margin-bottom: 17px;
    font-size: 16px;
}
.login{
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 150px;
}
.login label{
  font-size:16px;
  text-transform: uppercase;
}
.login-form{
  padding-left: 154px;
  padding-right: 154px;
}
.card-title {
  color: #414141;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}
.login-form .site-btn {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  min-width: 166px;
  padding: 18px 47px 36px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #f51167;
  color: #fff;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  width: 40%;
}
.footer-section {
  background: #282828;
  padding-top: 60px;
}
.footer-logo {
  padding-bottom: 60px;
}
.footer-widget {
  margin-bottom: 70px;
  overflow: hidden;
}
.footer-widget.about-widget p {
  margin-bottom: 50px;
  letter-spacing: -0.01em;
}
.footer-widget p {
  color: #8f8f8f;
}
.footer-widget {
  margin-bottom: 70px;
  overflow: hidden;
}
.footer-widget ul {
  list-style: none;
  float: left;
  margin-right: 37px;
}
.footer-widget h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 45px;
}

.footer-widget ul li a {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  color: #8f8f8f;
  margin-bottom: 6px;
}
.footer-widget ul li a:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 0;
  top: 8px;
  border: 1px solid #ec105a;
  border-radius: 50%;
  transition: all 0.2s;
}
.fw-latest-post-widget .lp-item {
  margin-bottom: 30px;
  display: block;
  overflow: hidden;
}
.fw-latest-post-widget .lp-content {
  overflow: hidden;
  padding-top: 2px;
}
.fw-latest-post-widget .lp-content h6 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.25;
  color: #717171;
  margin-bottom: 1px;
}
.fw-latest-post-widget .lp-content span {
  display: block;
  font-size: 12px;
  color: #8f8f8f;
  margin-bottom: 4px;
}
.fw-latest-post-widget .lp-content .readmore {
  font-size: 12px;
  color: #f51167;
}
.contact-widget .con-info span {
  float: left;
  color: #f51167;
  margin-right: 15px;
  overflow: hidden;
}
.footer-widget p {
  color: #8f8f8f;
}
.social-links-warp {
  border-top: 2px solid #3b3535;
  padding: 46px 0;
}
.social-links a {
  margin-right: 60px;
  display: inline-block;
}
.social-links a i {
  font-size: 30px;
  color: #d7d7d7;
  float: left;
  margin-right: 19px;
  overflow: hidden;
  transition: all 0.3s;
}
.social-links a span {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9f9fa0;
  padding-top: 10px;
  transition: all 0.3s;
}
.footer-widget ul:last-child {
  margin-right: 0;
}
.main-navbar {
  background: #282828;
}
.main-menu {
  list-style: none;
}
.main-menu li {
  display: inline-block;
  position: relative;
}
.main-menu li a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  margin-right: 50px;
  line-height: 1;
  padding: 17px 0;
  position: relative;
}
.card{
    background: #f0f0f0;
    padding: 40px 24px 30px;
    border-radius: 25px;
    font-family: 'Josefin Sans', sans-serif;
}
.product-item .pi-pic {
  position: relative;
  display: block;
}
.product-item .pi-text {
  padding-top: 22px;
  height: 87px;
}
.product-item .pi-text b {
  font-size: 16px;
  color: #111111;
  margin-bottom: 0;
}
.product-item .pi-text p {
  float: right;
  padding-left: 40px;
  overflow: hidden;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  color: #111111;
}
.cart-table {
  padding: 40px 34px 0;
  background: #f0f0f0;
  border-radius: 27px;
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
}
.cart-table table {
  width: 100%;
  min-width: 442px;
  margin-bottom: 17px;
}
.cart-table table tr {
  text-align: left;
}
.cart-table td img {
  display: table-cell;
  vertical-align: middle;
  float: left;
  width: 73px;
}
.cart-table .total-cost {
  background: #f51167;
  margin: 0 -34px;
  text-align: right;
  padding: 22px 0;
  padding-right: 50px;
}
.cart-table td h4 {
  font-size: 18px;
  color: #414141;
  font-weight: 400;
}
.card-right .site-btn {
  margin-bottom: 14px;
  width: 100%;
  min-height: 57px;
  padding: 23px 47px 14px;
}
.site-btn.sb-dark {
  background: #413a3a;
}
.cart-table table tr th {
  font-size: 12px;
  font-weight: 400;
  color: #414141;
  text-align: center;
  padding-bottom: 25px;
}
.cart-items{
  font-weight: 700;
  margin-bottom: 37px;
  color: #111111;
}
.cart-table  .pc-title h4 {
  font-size: 16px;
  color: #414141;
  font-weight: 700;
  margin-bottom: 3px;
}
.cart-table  .pc-title p {
  margin-bottom: 0;
  font-size: 16px;
  color: #414141;
}
.cart-table .pc-title {
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}
.cart-table .quy-col {
  padding-right: 20px;
  padding-left: 20px;
  
}
.cart-table .size-col h4 {
  padding-right: 70px;
  padding-left: 70px;
  font-size: 18px;
  color: #414141;
  font-weight: bold;
  text-align:center;
  text-transform: uppercase;
}
.cart-table .product-col {
  display: table;
  margin-bottom: 19px;
}
.cart-table .total-col h4 {
  font-size: 18px;
  color: #414141;
  font-weight: bold;
}
.cart-table .total-cost h6 {
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.card-right{
  font-family: 'Josefin Sans', sans-serif;
}
.cart-table h6{
  color: #414141;
  font-size:30px;
}
.feedback{
  padding-top:150px;
  padding-bottom:150px;
}